  *{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  body {
     width: 100%;
     height: 100%;
     background-color: black;
     overflow-x: hidden;
   }
   
   /* OUR CSS */
   
   .navbar {
    position: fixed;
    z-index: 10000;
    width: 100%;
    text-align: center; 
    padding-bottom: 1%;
    transition: ease-in-out , 0.3s;
    }
    ul {
        margin-left: auto;
        margin-right: auto;
        padding-top: 2%;
    } 
    li {
        text-align: center;
        display: inline;
        padding-left: 2.5%;
        padding-right: 2.5%;
        
    }
    li a {
        color: white;
        text-decoration: none;
    }

   form input{
     transition: ease-in-out , 0.3s;
     border-bottom: 2px solid black;
    }
   .collapse {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 0vh;
    width: 100vw;
    background-color: #111111;
    position: fixed;
    z-index: 5;
    transition: ease-in-out, 0.2s;
  }
  .toggle{
    position: fixed;
  }
  .collapse.is-clicked {
    height: 100vh;
    overflow-y: scroll; 
    padding-bottom: 40%;
  }

  .collapse a {
    font-family: "Overpass", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
  }

  .collapse ul {
    transform: translateY(-20px);
    opacity: 0;
    display: flex;
  flex-direction: column;
    transition: ease-in-out, 0.2s;
    margin-top: 25%;
    width: 100vw;
    text-align: center;
  }
  .collapse ul.is-clicked {
    transform: translateY(0px);
    opacity: 1;
  }
  .collapse li {
    margin-top: 8%;
  }
  p {
    text-align: center;
  } 

   /* Contact us box */
   form input:focus{
     outline: none;
     border-bottom: 2px solid white;
   }
  
   form{
    margin-left: 22%;
   }

   h1{
    
     color: white;
     font-size: 4vh;
     text-align: center;
     padding: 20% 0% 6%;

   }

    h3{
      color: white ;
      margin: 3% 0%;
      font-size: 3.7vh;
      font-family: 'Overpass' , sans-serif;
    font-weight: lighter;
    }

    input{
      margin: 4% 3%;
      padding: 3%;
      background-color: #242424;
      color: white;
      border: none;
    }

    textarea{
      background-color: #242424;
      border: none;
      outline: none;
      border-bottom: 2px solid black;
      
      
    }
    form textarea:focus{
      outline: none;
      border-bottom: 2px solid white;
      transform: translateY(-4px);

    }
    .button{
      padding: 3% 15%;
      text-align: center;
    }
    .button:hover{
      background-color: white;
      color: black;
      cursor: pointer;
    }
    
    textarea{
      resize: none;
    }
    .button{
      background: none;
      color: white;
      border: solid white 2px;
      border-radius: 0%;
    }
 
   /* MEDIA FOR MOBILE ONLY */
   @media (max-width: 500px) {
    .navbar{
      visibility: hidden;
    }
  /* FOR HAMBURGER */
  .toggle {
  position: absolute;
  cursor: pointer;
  z-index: 7;
  margin: 8% 5%;
  }
  .toggle input {
  display: none;
  }
  .toggle input + div {
  width: 30px;
  height: 18px;
  position: relative;
  }
  .toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.5s ease;
  }
  .toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  }
  .toggle input + div div span:first-child {
  top: 0;
  }
  .toggle input + div div span:first-child:before,
  .toggle input + div div span:first-child:after {
  top: 0;
  }
  .toggle input + div div span:last-child {
  bottom: 0;
  }
  .toggle input + div div span:last-child:before,
  .toggle input + div div span:last-child:after {
  bottom: 0;
  }
  .toggle input + div div span:before,
  .toggle input + div div span:after {
  content: "";
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  position: absolute;
  -webkit-backface-visibility: hidden;
  transition: transform 0.5s ease, border-radius 0.3s ease,
  background 0.4s ease;
  }
  .toggle input + div div span:before {
  left: 0;
  transform-origin: 0 50%;
  transform: translate(1px, 0) scaleX(1.1);
  }
  .toggle input + div div span:after {
  right: 0;
  transform-origin: 100% 50%;
  transform: translate(-1px, 0) scaleX(1.1);
  }
  .toggle input + div svg {
  display: block;
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  transform: scale(1);
  transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease,
  transform 0.5s ease, stroke 0.4s ease;
  }
  .toggle input + div svg:nth-child(3) {
  transform: rotate(180deg) scale(1);
  }
  .toggle input:checked + div div {
  transform: rotate(90deg);
  }
  .toggle input:checked + div div span:before,
  .toggle input:checked + div div span:after {
  background: #fff;
  }
  .toggle input:checked + div div span:first-child:before {
  transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
  }
  .toggle input:checked + div div span:first-child:after {
  transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
  }
  .toggle input:checked + div div span:last-child:before {
  transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
  }
  .toggle input:checked + div div span:last-child:after {
  transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
  }
  .toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  transform: rotate(90deg);
  stroke: #fff;
  }
  .toggle input:checked + div svg:nth-child(3) {
  transform: rotate(270deg);
  }
  
  html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  }
  
  * {
  box-sizing: inherit;
  }
  *:before,
  *:after {
  box-sizing: inherit;
  }
  
  body .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
  }
  body .dribbble img {
  display: block;
  width: 76px;
  }
  .collapse {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 0vh;
  width: 100vw;
  background-color: #111111;
  position: fixed;
  z-index: 5;
  transition: ease-in-out, 0.2s;
  }
  .toggle{
  position: fixed;
  }
  .collapse.is-clicked {
  height: 100vh;
  overflow-y: scroll; 
  padding-bottom: 40%;
  }
  
  .collapse a {
  font-family: "Overpass", sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2.5vh;
  }
  
  .collapse ul {
  transform: translateY(-20px);
  opacity: 0;
  transition: ease-in-out, 0.2s;
  margin-top: 25%;
  width: 100vw;
  text-align: center;
  }
  .collapse ul.is-clicked {
  transform: translateY(0px);
  opacity: 1;
  }
  .collapse li {
  margin-top: 8%;
  }
     
     textarea{
       margin: 5% 2%;
     }
     .button{
       margin-left: 6%;
     }
   }

   
   
   /* MEDIA FOR EXCEPT MOBILE */
    @media (min-width: 500px) {
     .header h1 {
       font-size: 16vh;
     }
   .collapse{
     visibility: hidden;
   }
     /* Hamburger CSS */
     .toggle {
       visibility: hidden;
       position: absolute;
       z-index: 120;
     }
     .dribbble {
       visibility: hidden;
       position: absolute;
     }
   
     /* NAV CSS */
     * Hamburger CSS */
     .collapse{
     visibility: hidden;
     }
     .blog-slider__text{
     font-size: 1.8vh;
     
     }
     .toggle {
     visibility: hidden;
     position: absolute;
     z-index: 120;
     }
     .dribbble {
     visibility: hidden;
     position: absolute;
     }
     
     /* NAV CSS */
     nav {
     position: absolute;
     z-index: 5;
     width: 100%;
     visibility: visible;
     margin-bottom: 20%;
     }
     .navham{
     visibility: hidden;
     }

    input{
       text-align: left;
       padding: 0%;
       margin: 0%;
     }
     form{
       margin: 0%;
       padding: 0%;
      text-align: center;
     }
     input{
       box-shadow: none;
       outline: none;
       border: none;
       background-color: #242424;
       height: 4vh;
       width: 14vw;
       color: white;
       text-align: left;
       
     }
     
     form textarea{
       margin: 2%;
       box-shadow: none;
       outline: none;
       border: none;
       background-color: #242424;
       resize: none;
       transition: ease-in-out , 0.3s;
       border-bottom: 2px solid black;
       color: white;
       font-family: sans-serif;
       padding: 1%;
     }
     form textarea:focus{
      outline: none;
      border-bottom: 2px solid white;
    }
    form input:focus{
      transform: translateY(-4px);

    }
     h1{
       padding:0%;
       margin: 0%;
       padding-top: 8%;
       padding-bottom: 2%;
       font-size: 6vh;
     }
     h3{
       padding: 0%;
       margin: 0%;
       margin-top: 4%;
     }

     .form-group{
       margin: 1%;
     }

     .button{
       display: block;
       padding: 0%;
       
       margin-left: auto;
       margin-right: auto;
       
     }
     form input{
       padding-left: 3%;
       padding: 1% 1.5%;
     }

     
   }
   