*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.main {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: ;
}

.navbar {
    position: fixed;
    z-index: 10000;
    width: 100%;
    text-align: center; 
    padding-bottom: 1%;
    transition: ease-in-out , 0.3s;
}
ul {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}
li {
    text-align: center;
    display: inline;
    padding-left: 2.5%;
    padding-right: 2.5%;
    
}
li a {
    color: white;
    text-decoration: none;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}
body {
    margin: 0;
    padding: 0;
  }
  .bg-video-wrap {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
  }
  
  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    background-size: 3px 3px;
    z-index: 2;
  }
 
  h1 {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    max-width: 900px;
    width: 100%;
    height: 50px;
    font-size: 3vh;
    margin-top: 15%;
  }

  figure {
      padding-top: 5%;
      line-height: 4rem;
      letter-spacing: 2px;
      color: #ededed;
  }
  h2{
      color: white;
  }
 
  .next {
      height: 100vh;
      width: 100vw;
      background-color: white;
      z-index: 100;
      position: absolute;
      text-align: center;
  }