*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

.main {
    width: 100vw;
    background-color: #000;
}

.content {
  padding-top: 10%;
  color: white;
  text-align: center;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

.content p {
  padding-top: 5%;
  padding-bottom: 5%;

}


.content img{
  border-radius: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
  transition: ease-in-out , 1s;

  opacity: 0;
  transform: translateY(-20px);
}
.content img.is-showing {
  opacity: 1;
  transform: translateY(0px);
}
.navbar {
    position: fixed;
    z-index: 10000;
    width: 100%;
    text-align: center; 
    padding-bottom: 1%;
    transition: ease-in-out , 0.3s;
}
ul {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}
li {
    text-align: center;
    display: inline;
    padding-left: 2.5%;
    padding-right: 2.5%;
    
}
li a {
    color: white;
    text-decoration: none;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
}
body {
    margin: 0;
    padding: 0;
  }
  .bg-video-wrap {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
  }
  
  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
    background-size: 3px 3px;
    z-index: 2;
  }

  figure {
      padding-top: 5%;
      line-height: 4rem;
      letter-spacing: 2px;
      color: #ededed;
      animation-delay: 2s;
  }
  h2{
      color: white;
  }

  @keyframes emerge {
      0% {
          transform: translateY(-20px);
          opacity: 0;
      }
      100% {
          transform: translateY(0px);
          opacity: 1;
      }
  }


  /* HAMBURGER NAV CSS */

  .collapse {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 0vh;
    width: 100vw;
    background-color: #111111; 
    position: absolute;
    z-index: 5;
    transition: ease-in-out, 0.2s; 
  }
  .collapse.is-clicked { 
    height: 100vh;
    padding-top: 15%;
    overflow-y: scroll; 
    padding-bottom: 40%; 
  }
  .collapse a {
    font-family: "Overpass", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
  }
  .collapse ul {
    transform: translateY(-20px);
    opacity: 0;
    transition: ease-in-out, 0.2s;
    margin-top: 10%;
    width: 100vw;
    text-align: center;
  }
  .collapse ul.is-clicked {
    transform: translateY(0px);
    opacity: 1;
  }
  .collapse li {
    margin-top: 8%;
  }
  .toggle {
    opacity: 100%;
    transition: 1.5s;
    position: absolute;
    cursor: pointer;
    z-index: 7;
    margin: 8% 5%;
  }

  
  /* CSS FOR MOBILE ONLY */
  @media (max-width: 500px) {
    .content {
      padding-top: 15%;
      width: 90vw;
      text-align: justify;
    }
    /* CSS FOR HAMBURGER */
    .navbar{
        visibility: hidden;
    }
    .toggle {
        position: absolute;
        cursor: pointer;
        z-index: 7;
        margin: 8% 5%;
      }
      .toggle input {
        display: none;
      }
 
      .toggle input + div {
        width: 30px;
        height: 18px;
        position: relative;
      }
      .toggle input + div div {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: transform 0.5s ease;
      }
      .toggle input + div div span {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
      }
      .toggle input + div div span:first-child {
        top: 0;
      }
      .toggle input + div div span:first-child:before,
      .toggle input + div div span:first-child:after {
        top: 0;
      }
      .toggle input + div div span:last-child {
        bottom: 0;
      }
      .toggle input + div div span:last-child:before,
      .toggle input + div div span:last-child:after {
        bottom: 0;
      }
      .toggle input + div div span:before,
      .toggle input + div div span:after {
        content: "";
        display: block;
        width: 47%;
        height: 2px;
        border-radius: 1px;
        background: #fff;
        position: absolute;
        -webkit-backface-visibility: hidden;
        transition: transform 0.5s ease, border-radius 0.3s ease,
          background 0.4s ease;
      }
      .toggle input + div div span:before {
        left: 0;
        transform-origin: 0 50%;
        transform: translate(1px, 0) scaleX(1.1);
      }
      .toggle input + div div span:after {
        right: 0;
        transform-origin: 100% 50%;
        transform: translate(-1px, 0) scaleX(1.1);
      }
      .toggle input + div svg {
        display: block;
        fill: none;
        stroke: #fff;
        stroke-width: 2px;
        width: 44px;
        height: 44px;
        stroke-linecap: round;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -22px 0 0 -22px;
        stroke-dasharray: 0 82.801 8 82.801;
        stroke-dashoffset: 82.801;
        transform-origin: 50% 50%;
        -webkit-backface-visibility: hidden;
        transform: scale(1);
        transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease,
          transform 0.5s ease, stroke 0.4s ease;
      }
      .toggle input + div svg:nth-child(3) {
        transform: rotate(180deg) scale(1);
      }
      .toggle input:checked + div div {
        transform: rotate(90deg);
      }
      .toggle input:checked + div div span:before,
      .toggle input:checked + div div span:after {
        background: #fff;
      }
      .toggle input:checked + div div span:first-child:before {
        transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
      }
      .toggle input:checked + div div span:first-child:after {
        transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
      }
      .toggle input:checked + div div span:last-child:before {
        transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
      }
      .toggle input:checked + div div span:last-child:after {
        transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
      }
      .toggle input:checked + div svg {
        stroke-dashoffset: 62;
        stroke-dasharray: 0 82.801 62 82.801;
        transform: rotate(90deg);
        stroke: #fff;
      }
      .toggle input:checked + div svg:nth-child(3) {
        transform: rotate(270deg);
      }
 
      html {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
      }
 
      * {
        box-sizing: inherit;
      }
      *:before,
      *:after {
        box-sizing: inherit;
      }
 
      body .dribbble {
        position: fixed;
        display: block;
        right: 24px;
        bottom: 24px;
      }
      body .dribbble img {
        display: block;
        width: 76px;
      }
  }

/* CSS FOR EXCEPT MOBILE */
  @media (min-width: 500px){
      
    /* Hamburger CSS */
      .collapse{
        visibility: hidden;
      }
      .toggle {
        visibility: hidden;
        position: absolute;
        z-index: 120;
      }
      .dribbble {
        visibility: hidden;
        position: absolute;
      }
  }
